.admin{
    padding:30px;
    background: #696761;
}

.admin h1{
    color:#ffffff;
}

.admin-wrapper{
    display: flex;
    justify-content: center;
    padding:30px;
    gap:150px;

}

.admin .nice-form{
    background: #302c28;
    color:rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    text-align:center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.register-product{
    width:500px;
}


.register-coupon{
    width:400px;
}
.register-coupon h3{
    color:rgb(255, 255, 255);
}

.admin .mb-3{
    text-align:left;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-align:left;

}


