.catalog{
    background-color: #d9d2c2;
    padding:30px;

}

.catalog h1{
    text-align: center;
    padding-top:20px;
    color: #7c062e;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.catalog .cat-wrapper{
    display: flex;
    justify-content: center;

}

.catalog .cat {
    display: flex;
    justify-content: space-evenly;
    width:700px; 

}
.catalog .cat .btn{
    display: inline-block;
    justify-content: space-around;
    width:100px; 
    margin-bottom: 15px;

}

