.catalog{
    background-color: #d9d2c2;

    padding:30px;

}

.catalog h1{
    text-align: center;
    padding-top:20px;
    color: #610C27;
}
.catalog .cat{

    display: inline-block;
    width:500px; 
}

