a {
    text-decoration: none;
}


.homeItem {

    background-color: #d9d2c2;
}


.homeItem .upper{
    display: flex;
    justify-content: center;

}

.homeItem .hero-section {
    margin-left: 150px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
.hero-text{
    animation: fadeup 3s ease-in;

}

.hero-text {
    margin-top: 500px;
}
.hero-text h1{
    font-size: 100px;
    color:#610C27;
}
.hero-text p{
    font-size: 28px;
}


.hero-image {
    animation: fadein 2s ease-in;
}

@keyframes fadein {
    from {
    opacity: 0;
    transform: translateX(0px)
    }
    20% {
    transform: translateX(-20px)
    }
}

@keyframes fadeup {
    from {
    opacity: 0;
    transform: translateY(-20px)
    }
    20% {
    transform: translateY(0px)
    }
}

.announcement{
    background-color: rgb(24, 24, 24);
    color:#d9d2c2;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 0.5rem 0;
}

.marquee {
    display: inline-block;
    animation: marquee 40s linear infinite;
}


.marquee span{
    font-weight: bold;
    padding: 80px;
}



@keyframes marquee {
0% {
    transform: translate(0, 0);
    }
100% {
    transform: translate(-100%, 0);
    }
}
.homeCard{
    width:100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    text-decoration: none;
}


.homeCard .card{
    width:600px;
    border-width: 2px;
    border-radius: 10px;
    border-color:rgb(255, 255, 255);
}

.homeCard .cardImage{
    border-radius: 11px;
    display: flex;
    width:596px;
}

.homeCard .h3{
    margin-top:5px;
}



.homeCard .cardIcon{
    width:100px;
    padding: 5px;

}

.homeCard .card:hover{
    transform:skewX(-1deg);
}

.homeCard .card:hover .cardIcon{
    animation: bounce 5s ease-in;
}

@keyframes bounce {
0% {
    transform: translateX(0);
}
11.11111% {
    transform: translateX(-25px);
}
22.22222% {
    transform: translateX(0);
}
44.44444% {
    transform: translateX(-25px);
}
100% {
    transform: translateX(0);
}
}