.footer-menu{
    padding:5px;
    width: 100%;
    display:flex;
    justify-content: space-around;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    align-items:center;
    position: absolute; 
    bottom: 0;
}

a{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: rgb(10, 7, 12);
    letter-spacing: 1px;
    font-weight:bolder;
}

a:hover{
    color:rgb(29, 28, 126);
}