.footer-menu{
    padding:10x;
    width: 100%;
    display:flex;
    justify-content: space-around;
    height: 50px;
    background-color: rgb(12, 12, 12);
    align-items:center;
    
}

.footer-menu p{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    color: rgb(152, 144, 156);
    letter-spacing: 1px;
    font-weight:bolder;
    transform:none;
}

